{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <h1>Produits du modèle {{ modele.nom }}</h1>
    <ul>
        {% for produit in produits %}
            <li>{{ produit.nom }} - {{ produit.prix }} €</li>
        {% endfor %}
    </ul>
{% endblock %}
