{% extends 'base.html.twig' %}

{% block title %}Confirmation de commande{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="beige-section">
            <h1>Confirmation de commande</h1>
            <hr>
            <div>
                <p>Commande numéro: {{ commande.id }}</p>
                <p>Date de commande: {{ commande.dateDebutCommande|date('d/m/Y H:i:s') }}</p>
                <p>Montant total: {{ commande.montant }} €</p>
                <p>Statut: {{ commande.statut }}</p>
                <!-- Autres détails de la commande à afficher -->
            </div>
        </div>
    </div>
{% endblock %}
