{% extends 'base.html.twig' %}

{% block title %}Paiement Réussi{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .beige-section {
            background-color: #f5f5dc; /* Couleur de fond beige */
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
        }
    </style>
{% endblock %}
{% block body %}
<div class="container mt-4 beige-section">
    <h1>Paiement Réussi</h1>
    <p>Votre paiement a été traité avec succès. Merci pour votre achat !</p>
    <a href="{{ path('home') }}" class="btn btn-primary mt-3">Retour à l'accueil</a>
</div>
{% endblock %}
